Flask==3.0.3
Flask-Mail==0.9.1
python-dotenv==1.0.1

opencv-python==4.10.0.84
mediapipe==0.10.9
numpy==1.26.4

openai==0.28.1

# Optional (for production deployment, not needed just to run locally)
gunicorn==23.0.0
